<!-- main html template
WHEN I am signed in to the site
THEN I see navigation links for the homepage, the dashboard, and the option to log out -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- <script src="https://cdn.tailwindcss.com"></script> --}}
    <title>Document</title>
  </head>
  <body>
    <div><!-- content wrapper -->
      <div>
        <nav>
          <div>
            <h1>
              <a href="/">Tech Blog</a>
            </h1>
          </div>
          <ul>
            <li>
              <a href="/">
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="/dashboard">
                <span>Dashboard</span>
              </a>
            </li>
              <!-- if else statements -->
            <li>{{#if loggedIn}}
                <a href="/" id="logout">
                  <span>Logout</span>
                </a>
              {{else}}
                <a href="/login">
                  <span>Login</span>
                </a>
              {{/if}}
            </li>
          </ul>
        </nav>
      </div><!-- end nav -->

      <main><!-- container for existing blog posts -->
        {{{body}}}
      </main>
    </div><!-- content wrapper -->
  </body>
  <script src="/js/logout.js"></script>
</html>