<!-- WHEN I revisit the site at a later time and choose to sign in
THEN I am prompted to enter my username and password -->
<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="username-login">Username:</label>
    <input class="form-input" type="text" id="username-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" id="login">Login</button>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" id="signup">Sign Up Instead</button>
  </div>
</form>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>