<!-- WHEN I click on the button to add a new blog post
THEN I am prompted to enter both a title and contents for my blog post
WHEN I click on the button to create a new blog post
THEN the title and contents of my post are saved and I am taken back to an updated dashboard with my new blog post -->

<div>
    <h3>Create New Post</h3>
    <form id="new-post-form">
        <label for="blog-name">Title</label>
        <input type="text" id="blog-name" class="form-input" />

        <label for="blog-content">Content</label>
        <input id="blog-content" class="form-input" />

        <button type="submit" class="btn" id="submit-new-post-btn">Create</button>
    </form>
</div>

<script src="/js/submit-post.js"></script>